html, body {
    margin: 0;
}

#container {
    min-width: 1080px;
}

#match-controls {
    position: fixed;
    z-index: 3;
}

#match-controls button {
    height: 2em;
}

#players {
    display: flex;
    flex-direction: row;
}

#players-left, #players-right {
    align-items: center;
    display: inline-flex;
    flex: 1 1 25%;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#players-top {
    display: flex;
    flex-direction: row;
    flex: 1 1 50%;
    text-align: center;
}

#players-top .player {
    flex: 1 1;
}

.player {
    flex: 0 0 30%;
    min-height: 180px;
    min-width: 160px;
}

.player .card {
    width: 70px;
    margin: 0 1px;
}

.player.folded {
    color: #ccc;
}

.name {
    font-weight: bold;
}

#user {
    bottom: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#user-info {
    display: inline-block;
    height: 100px;
    min-width: 120px;
    vertical-align: bottom;
}

#user .player {
    min-height: initial;
    min-width: initial;
}

#user-cards {
    display: inline-block;
    width: 270px;
    vertical-align: bottom;
}

#user-cards .card {
    margin: 0 3px;
}

#user button {
    height: 2em;
}

#board .card {
    margin: 0 5px;
}

#board {
    margin: 0 auto;
    height: 30%;
    min-height: 190px;
    text-align: left;
    width: 650px;
    position: absolute;
    left: calc(50% - 325px);
    top: calc(50% - 97px);
}

#pots {
    position: fixed;
    left: 0;
    bottom: 0;
}